body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.todoinput {
  width: 80ex;
}

.todolist {
  list-style-type: none;
  padding: 0;
}
.todolist__item {
  line-height: 2em;
}
.todolist__input {
  display: inline-block;
  width: 80ex;
}
.todolist__input:hover {
  background-color: lime;
}
